 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    max-width: 1040px;
}


/* animation section */

@keyframes btn {
   0%{
    background-color:
#FB09B4FF;

   }

   50%{
    background-color: #F7E93FFF
;
   }

   100%{
    background-color:
rgb(207, 150, 248);
   }
    
}


/* nav section */

.nav-container{
    /* border: 2px solid tomato; */
    display: flex;
    /* justify-content: space-between; */
    color: white;
    background-color:#1A0B2E;
    padding: 15px 0;
    align-items: center;

}

.nav-menu{
    /* border: 2px solid gold; */
    display: flex;
    gap: 29px;
    font-size: 10px;
}

.wave{
    color: #FB09B4;

    
}

.nav-button{
    margin-right: -10%;
    /* border: 2px solid red; */
}

.nav-button button{
   
border: none;
color: white;
padding: 10px 8px;
border-radius: 20px;
animation: btn 2s ease-in-out 0s infinite alternate ;


}

.nav-hambarg img{
    display: none;
}


/* hero section */

.hero-section{
    background-image:url(./assets/hero-circle.png) ,url(./assets/hero-bg.png);
    background-size:250px 250px,cover ;
    background-position:center top 70px, center ;
    background-repeat: no-repeat;
    height: 520px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    
   
}


.new-badge{
    background-color:#00FF88 ;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    font-weight: 700;
    position: relative;
    top: -65%;
    right: -65%;
    padding: 5px ;
    font-size: 12px;

}



.hero-img img {
    /* border: 2px solid gold; */
    width: 90px;
    height: 150px;
    margin-top: 130%;
}

.hero-text{
    /* border: 2px solid red; */
    height: 40%;
    padding: 5%;
    color: white;
    text-align: center;
    margin-top: 15px;
}

.hero-text h2{
    font-size: 40px;
    font-weight: 700;
}

.hero-text p{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.76);
    margin-top: 8px;
    margin-bottom:40px ;
}

.hero-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    /* border: 2px solid red; */
    width: 85%;
}

.hero-btn-one button{
    padding: 8px 5px;
    border:none;
    border-radius: 20px;
    background: linear-gradient(45deg,#F7E93FFF,
#FB09B4FF,
#9100F8FF);
color: white;
/* text-align: center; */
font-size: 15px;
width: 160px;


    
}


.hero-btn-one button img{
    position: relative;
    top: 5px;
}

.hero-btn-two button{
    padding: 9px 5px;
    width: 120px;
    border-radius: 20px;
    align-items: center;
    font-size: medium;
    color: #00FF88;
    border: 1px solid #00FF88;
    background: transparent;
}


/* About section */


.about-section{
    background-color:#1A0B2E ;
    color: white;
}

.about-text{
    /* border: 2px solid red; */
    text-align: center;
    padding: 100px 0;
}

.about-text h2{
    /* margin-top: 80px; */
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 15px;
    

}

.about-text p{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.747);
    width: 60%;
    line-height: 25px;
}

.about-num{
    border-top: 1px solid rgba(255, 255, 255, 0.132);
    padding: 50px 0;
    display: flex;
    text-align: center;
    width: 80%;
}

.about-num h1{
    color: #00FF88;
    font-weight: 800;
    font-size: 35px;
}

.about-num p{
    font-size: 9px;
    color: rgba(255, 255, 255, 0.678);
    
}

/* why section */

.why-section{
    background-color: #230E3D ;
    color: white;
    padding: 10% 10%;
}

.why-text h2{
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 35px;
    /* margin-top: 0px; */
}

.why-card{

    /* border: 2px solid gold; */
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "card-one card-two card-two"
    "card-one card-three card-three"
    "card-four card-four card-five"
    
    ;
  
}




.why-card>*{

    background-color:#351165 ;
    /* border: 2px solid red; */
    border-radius: 25px;
    padding: 5% 0;
    /* width: 100%; */
    
    
}

.card-1{
    grid-area: card-one;
    width: 65%;
    margin-left: 0;
    padding: 15% 5%;
    height: 100%;
}

.card-1 img {
    margin-top: 8%;
    width: 15%;
    margin-bottom: 12px;
}

.card-1 h4{
    font-size: 18px;
    margin-bottom: 15px;

}

.card-1 p{
    font-size: 12px;
}


.card-2{
    grid-area: card-two;
    /* width: 200px; */
    width: 135%;
    margin-left: -32%;
    padding: 8% 5%;
}

.card-2 img{
    width: 5%;
    margin-bottom: 10px;
}

.card-2 h4{
     font-size: 18px;
    margin-bottom: 12px;
}

.card-2 p{
    font-size: 12px;
}
.card-3{
    grid-area: card-three;
     width: 135%;
    margin-left: -32%;
    padding: 8% 5%;
}

.card-3 img{
    width: 5%;
    margin-bottom: 10px;
}

.card-3 h4{
    font-size: 18px;
    margin-bottom: 12px;
}

.card-3 p{
    font-size: 12px;
}






.card-4{
    grid-area: card-four;
    width: 130%;
    padding: 8% 5%;
}

.card-4 img{
    width: 8%;
}

.card-4 h4{
     font-size: 18px;
    margin-bottom: 12px;
}

.card-4 p{
     font-size: 12px;

}




.card-5{
    grid-area: card-five;
    width: 70%;
    margin-right: -2%;
    padding: 8% 5%;
}

.card-5 img{
    width: 12%;
}

.card-5 h4{
     font-size: 18px;
    margin-bottom: 12px;
}

.card-5 p{
     font-size: 12px;
}

.feature-section{
    background-color: #1A0B2E;
    width: 100%;
    padding: 10%;
    color: white;
    text-align: center;
}

.feature-section h2{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    /* margin-top:100px; */
}

iframe{
    width: 100%;
    height: 100%;
    border-radius: 9px 9px 0 0;
}

.feature-card{

    
    display: flex;
    /* width: fit-content; */
    /* border: 2px solid red; */
    gap: 30px;
    height: 100%;
   
}

.feature-card>*{
    
    /* background-color: #351165; */
    
}

.f-card-1, .f-card-2, .f-card-3{
    background-color: #230E3D;
    height: 100%;
    text-align: start;
    border-radius: 10px;
    
}

.f-card-1-text, .f-card-2-text, .f-card-3-text{
    padding: 15px;
    
}

.f-card-1-text h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.f-card-1-text p{
    font-size: 12px;
    margin-bottom: 15px;
}

/* shared time duration */

.time-duration{
    display: flex;
    /* border: 2px solid gold; */
    width: 26%;
    margin-left: 0%;
    height: 1%;
    align-items: start;
    font-size: small;
    color: #00FF88;
    
    
  
}

.time-duration>img{
    align-items: start;
}


.f-card-2-text h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.f-card-2-text p{
    font-size: 12px;
    margin-bottom: 15px;
}


.f-card-3-text h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.f-card-3-text p{
    font-size: 12px;
    margin-bottom: 15px;
}

.host-section{
    background-color:#1A0B2E;
    color: white;
    text-align: center;
    padding: 40px 100px;
}

.host-text {
    font-size: 25px;
    margin-bottom: 35px;
    
}

.host-card{
    display: flex;
    /* border: 2px solid red; */
    background-color: #230E3D;
    text-align: left;
    padding: 50px 20px;
    height: 250px;
    border-radius: 15px;

}

.host-card>img{
    width: 30%;
    height: 100%;
}

.host-card-text{
    margin-left: 20px;
}

.host-card-text h3{
    font-size: 22px;
    margin-bottom: 20px;


}

.host-card-text p{
    font-size: 11px;
    color: rgba(255, 255, 255, 0.596);
    margin-bottom: 25px;
}

.host-icon img{
    width: 30px;
    height: 30px;
}

.host-icon>*{
    border: 1px solid rgba(255, 255, 255, 0.185);
    padding: 5px;
    border-radius: 20px;
}


footer{
    /* width: 100%; */
    color: white;
    background-image: url(./assets/footer-bg.png);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    /* margin-top: -2%; */
    padding: 8% 0%;
}

footer h1{
    font-size: 50px;
}

.footer-icon{
    /* border:2px solid red ; */
    height: 40%;
    display: flex;
    width: 45%;
    align-items: center;
    font-size: 14px;
    margin-top: -.5%;
    color:rgba(255, 255, 255, 0.76);
    
    

}

.footer-icon img{
    width: 15%;
}

footer p{
    font-size: 11px;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.9);
}
























/* mobile responsive design */

@media screen and (max-width:576px) {
    .nav-logo{
        margin-left: 4%;
    }

    
    .nav-menu{
        display: none;
    }

    .nav-button{
        display: none;
    }

    .nav-hambarg{
        margin-right: 4%;
    }

    .nav-hambarg img{
        display: inline;
        
    }

    .hero-section{
        background-size: 41% 30%, 100% 100%;
        background-position: center top 30%, top ;
        /* width: 100%; */
      
        
        /* background-position: center top 60%, center; */
    }

    .new-badge{
        position: relative;
        top:-15%;
        left: 80%;
    }

    .hero-img img {
        width: 90%;
        height: 25%;
        position: relative;
        top: 20%;
       
       
        
    }

    .hero-text{
    /* border: 2px solid red; */
   
   
    margin-top: -70px;
}

.hero-text h2{
    font-size: 30px;
    font-weight: 700;
}

.hero-text p{
    font-size: 8px;
    width: 220px;
    color: rgba(255, 255, 255, 0.76);
    margin-top: 10px;
    margin-bottom:50px ;
}


.hero-btn{

    margin-left: -2%;

}

.about-text h2{
    font-size: 30px;
    margin-bottom: 25px;
}

.about-text p{
    width: 85%;
    font-size: 14px;
    line-height: 15px;
    

}


.about-num{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.about-num h1{
    font-size: 35px;
}


.why-card{
    display: grid;
     grid-template-areas: 
    "card-one "
    "card-two"
    "card-three"
    "card-four"
    "card-five";
}

.why-text h2{
    font-size: 26px;
    margin-top: 50px;
}



.card-1{
    width: 100%;
    height: 100%;
    padding: 5% 5%;
    
}

.card-1 img{
    width: 12%;
}
.card-2{
    width: 100%;
    height: 100%;
    margin-left: 1%;
}
.card-2 img{
    width: 10%;
}

.card-3{
    width: 100%;
    height: 100%;
    margin-left: 1%;
}
.card-3 img{
    width: 12%;
}

.card-4{
    width: 100%;
    height: 100%;
}
.card-4 img{
    width: 15%;
}
.card-5{
    width: 100%;
    height: 100%;
    margin-right: 1%;
}
.card-5 img{
    width: 12%;
}

.feature-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 50px;
    
}


.f-card-1, .f-card-2, .f-card-3{
    
    height: 50%;
    text-align: start;
    /* border: 2px solid red; */
   
    width: 100%;
    
}



.f-card-1-text, .f-card-2-text, .f-card-3-text{
    background-color: #230E3D;
    /* border: 2px solid red; */
    border-radius: 0px 0px 10px 10px;
}

.host-section{
    padding: 10px 10%;
}

.host-text{
    font-size: 20px;
    margin-top: 40px;
}

.host-card{
    flex-direction: column;
    text-align: center;
    height: 50%;
    margin-bottom: 25px;
}

.host-card>img{
    width: 50%;
    height: 50%;
    margin-left: 30%;
    
}

.host-card-text h3{
    margin-top: 15px;

}

footer{
    background-image: 100% 100% ;
    background-size:cover;
    background-repeat: no-repeat;
   
    
}

.footer-icon{
    /* border: 2px solid red; */
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 60%;
    padding: 20px;
    justify-items: center;
    font-size: 10px;
    
}


footer p{
    font-size: 12px;
    
    
}










    
}
    