 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    max-width: 1040px;
}


/* animation section */

@keyframes btn {
   0%{
    background-color:
#FB09B4FF;

   }

   50%{
    background-color: #F7E93FFF
;
   }

   100%{
    background-color:
rgb(207, 150, 248);
   }
    
}


/* nav section */

.nav-container{
    /* border: 2px solid tomato; */
    display: flex;
    /* justify-content: space-between; */
    color: white;
    background-color:#1A0B2E;
    padding: 15px 0;
    align-items: center;

}

.nav-menu{
    /* border: 2px solid gold; */
    display: flex;
    gap: 29px;
    font-size: 10px;
}

.wave{
    color: #FB09B4;

    
}

.nav-button{
    margin-right: -10%;
    /* border: 2px solid red; */
}

.nav-button button{
   
border: none;
color: white;
padding: 10px 8px;
border-radius: 20px;
animation: btn 2s ease-in-out 0s infinite alternate ;


}

.nav-hambarg img{
    display: none;
}


/* hero section */

.hero-section{
    background-image:url(./assets/hero-circle.png) ,url(./assets/hero-bg.png);
    background-size:250px 250px,cover ;
    background-position:center top 70px, center ;
    background-repeat: no-repeat;
    height: 520px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    
   
}


.new-badge{
    background-color:#00FF88 ;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    font-weight: 700;
    position: relative;
    top: -65%;
    right: -65%;
    padding: 5px ;
    font-size: 12px;

}



.hero-img img {
    /* border: 2px solid gold; */
    width: 90px;
    height: 150px;
    margin-top: 130%;
}

.hero-text{
    /* border: 2px solid red; */
    height: 40%;
    padding: 5%;
    color: white;
    text-align: center;
    margin-top: 15px;
}

.hero-text h2{
    font-size: 40px;
    font-weight: 700;
}

.hero-text p{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.76);
    margin-top: 8px;
    margin-bottom:40px ;
}

.hero-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    /* border: 2px solid red; */
    width: 85%;
}

.hero-btn-one button{
    padding: 8px 5px;
    border:none;
    border-radius: 20px;
    background: linear-gradient(45deg,#F7E93FFF,
#FB09B4FF,
#9100F8FF);
color: white;
/* text-align: center; */
font-size: 15px;
width: 160px;


    
}


.hero-btn-one button img{
    position: relative;
    top: 5px;
}

.hero-btn-two button{
    padding: 9px 5px;
    width: 120px;
    border-radius: 20px;
    align-items: center;
    font-size: medium;
    color: #00FF88;
    border: 1px solid #00FF88;
    background: transparent;
}

























/* mobile responsive design */

@media screen and (max-width:576px) {
    .nav-logo{
        margin-left: 4%;
    }

    
    .nav-menu{
        display: none;
    }

    .nav-button{
        display: none;
    }

    .nav-hambarg{
        margin-right: 4%;
    }

    .nav-hambarg img{
        display: inline;
        
    }

    .hero-section{
        background-size: 35% 30%, 100% 100%;
        background-position: center top 30%, top ;
        /* width: 100%; */
      
        
        /* background-position: center top 60%, center; */
    }

    .new-badge{
        position: relative;
        top:-25%;
        left: 80%;
    }

    .hero-img img {
        width: 100%;
        height: 30%;
        position: relative;
        top: 12%;
       
       
        
    }

    .hero-text{
    /* border: 2px solid red; */
   
   
    margin-top: -70px;
}

.hero-text h2{
    font-size: 30px;
    font-weight: 700;
}

.hero-text p{
    font-size: 8px;
    width: 220px;
    color: rgba(255, 255, 255, 0.76);
    margin-top: 10px;
    margin-bottom:50px ;
}


.hero-btn{

    margin-left: -2%;

}










    
}
    